<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com.shop"></context:component-scan>
	
	 <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/shop"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="username" value="root"></property>
		<property name="password" value="admin"></property>
	</bean> 
	
	<!-- - - - - - - - sessionFactory - - - - - - - -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="datasource"/>
        <property name="configLocation" value="classpath:sqlMapConfig.xml"/>
    </bean>
	
	<!-- spring声明事物 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="datasource"></property>
	</bean>
	
	<!-- 使用注解驱动管理事物 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- DAO -->
	<bean id="UserMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		p:sqlSessionFactory-ref="sqlSessionFactory" p:mapperInterface="com.shop.dao.UserMapper" />
	
	<bean id="UserMaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		p:sqlSessionFactory-ref="sqlSessionFactory" p:mapperInterface="com.shop.dao.UserMaMapper" />
	
	<bean id="UserHeadImgMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		p:sqlSessionFactory-ref="sqlSessionFactory" p:mapperInterface="com.shop.dao.UserHeadImgMapper" />
	
	<bean id="ShopCategoryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		p:sqlSessionFactory-ref="sqlSessionFactory" p:mapperInterface="com.shop.dao.ShopCategoryMapper" />
	
	<bean id="ProductMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		p:sqlSessionFactory-ref="sqlSessionFactory" p:mapperInterface="com.shop.dao.ProductMapper" />
	
	<bean id="ShopCategoryChildMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		p:sqlSessionFactory-ref="sqlSessionFactory" p:mapperInterface="com.shop.dao.ShopCategoryChildMapper" />
	
	<bean id="ProductImgMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		p:sqlSessionFactory-ref="sqlSessionFactory" p:mapperInterface="com.shop.dao.ProductImgMapper" />
	
	<bean id="ProductPriceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		p:sqlSessionFactory-ref="sqlSessionFactory" p:mapperInterface="com.shop.dao.ProductPriceMapper" />
	
	<bean id="ProductRepositoryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		p:sqlSessionFactory-ref="sqlSessionFactory" p:mapperInterface="com.shop.dao.ProductRepositoryMapper" />
	
	<bean id="ProductCenterPriceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		p:sqlSessionFactory-ref="sqlSessionFactory" p:mapperInterface="com.shop.dao.ProductCenterPriceMapper" />
	
	<bean id="ProductCenterRepositoryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		p:sqlSessionFactory-ref="sqlSessionFactory" p:mapperInterface="com.shop.dao.ProductCenterRepositoryMapper" />
	
	<bean id="OrderMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		p:sqlSessionFactory-ref="sqlSessionFactory" p:mapperInterface="com.shop.dao.OrderMapper" />
	
	<bean id="AddressMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		p:sqlSessionFactory-ref="sqlSessionFactory" p:mapperInterface="com.shop.dao.AddressMapper" />
	
	<bean id="RaddressMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		p:sqlSessionFactory-ref="sqlSessionFactory" p:mapperInterface="com.shop.dao.RaddressMapper" />
	
	<bean id="CustomerMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		p:sqlSessionFactory-ref="sqlSessionFactory" p:mapperInterface="com.shop.dao.CustomerMapper" />
	
	<bean id="OrderXqMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" 
		p:sqlSessionFactory-ref="sqlSessionFactory" p:mapperInterface="com.shop.dao.OrderXqMapper" />
	
	
	
</beans>









